<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Host</title>
    <style type="text/css">
        .shadow{
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: black;
            z-index: 100;
            opacity: 0.6;
        }
        .add_modal,.edit_modal{
            position: fixed;
            left: 50%;
            top: 100px;
            height: 300px;
            width: 400px;
            z-index: 101;
            background: white;
            margin-left: -200px;
        }
        .hide{
            display: none;
        }
    </style>
</head>
<body>
    <h1>业务线列表（对象）</h1>
    <input id="add_host" type="button" value="添加" />
    <table border="1">
        <thead>
            <tr>
                <th>主机名</th>
                <th>IP</th>
                <th>端口</th>
                <th>业务线名称</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for i in v1 %}
                <tr hid="{{ i.nid }}" bid="{{ i.b_id }}">
                    <td>{{ i.hostname }}</td>
                    <td>{{ i.ip }}</td>
                    <td>{{ i.port }}</td>
                    <td>{{ i.b.caption }}</td>
                    <td>
                        <a class="edit">编辑</a>|<a class="delete">删除</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
<!-- 
    <h1>业务线列表（字典）</h1>
    {% for i in v2 %}
        <li>{{ i.hostname }}-{{ i.ip }}-{{ i.port }}</li>
    {% endfor %}
    <h1>业务线列表（元组）</h1>
    {% for i in v3 %}
        <li>{{ i.0 }}-{{ i.1 }}-{{ i.2 }}</li>
    {% endfor %} -->

    <div class="shadow hide"></div>
    <div class="add_modal hide">
        <form id='add_form' action="/cmdb/host/" method="POST">
            <div><input type="text" name="hostname" placeholder="主机名" /></div>
            <div><input type="text" name="ip" placeholder="IP" /></div>
            <div><input type="text" name="port" placeholder="端口" /></div>
            <div>
                <select  name="b_id">
                    {% for row in b_list %}
                        <option value="{{ row.id }}">{{ row.caption }}</option>
                    {% endfor %}
                </select>
            </div>
            <input type="submit" value="提交" />
            <a id="ajax_submit" style="border: 1px solid #AAAAAA" >悄悄提交</a>
            <input id="cancel" type="button" value="取消" />
            <span id='error_msg' style="color: red"></span>
        </form>
    </div>

    <div class="edit_modal hide">
        <form id="edit_form" action="/cmdb/host/" method="POST">
            <input type="text" name="id" style="display: none" />
            <input type="text" name="hostname" />
            <input type="text" name="ip" />
            <input type="text" name="port" />
            <select name="b_id">
                {% for row in b_list %}
                    <option value="{{ row.id }}">{{ row.caption }}</option>
                {% endfor %}
            </select>
            <div>
                <input id="ajax_edit" type="button" value="确认编辑" />
                <input id="edit_cancel" type="button" value="取消" />
                <span id='error_msg1' style="color: red"></span>
            </div>
        </form>
    </div>

    <script src="/static/jquery-1.12.4.js"></script>
    <script type="text/javascript">
        $(function(){
            $('#add_host').click(function(event) {
                $('.shadow,.add_modal').removeClass('hide')
            });

            $('#cancel').click(function(event) {
                $('.shadow,.add_modal').addClass('hide')
            });

            $('#ajax_submit').click(function(event) {
                $.ajax({
                    url: "/cmdb/test_ajax/",
                    type: "POST",
                    // data: {'hostname': $('#hostname').val(),
                    //         'ip': $('#ip').val(),
                    //         'port': $('#port').val(),
                    //         'sel': $('#sel').val()
                    //       },
                    data: $('#add_form').serialize(),
                    success: function(data){
                        var obj = JSON.parse(data);
                        if(obj.status){
                            location.reload()
                        }else {
                            $('#error_msg').text(obj.error)
                        }
                    }
                })
            });

            $('.edit').click(function(event) {
                $('.shadow,.edit_modal').removeClass('hide');
                var bid = $(this).parent().parent().attr('bid');
                var nid = $(this).parent().parent().attr('hid');
                var p = $(this).parent().prev().prev().text()
                var i = $(this).parent().prev().prev().prev().text()
                var h = $(this).parent().prev().prev().prev().prev().text()
                $('#edit_form').find('input[name="id"]').val(nid)
                $('#edit_form').find('input[name="hostname"]').val(h)
                $('#edit_form').find('input[name="ip"]').val(i)
                $('#edit_form').find('input[name="port"]').val(p)
                $('#edit_form').find('select').val(bid);
            });

            $('#edit_cancel').click(function(event) {
                $('.shadow,.edit_modal').addClass('hide')
            });

            $('#ajax_edit').click(function(event) {
                $.ajax({
                    url: '/cmdb/edit_ajax/',
                    type: 'POST',
                    // data: { 'hostname': $('#hostname1').val(),
                    //         'nid': $('#id1').val(),
                    //         'ip': $('#ip1').val(),
                    //         'port': $('#port1').val(),
                    //         'sel': $('#sel1').val()
                    //       },
                    data: $('#edit_form').serialize(),
                    success: function(data){
                        var obj = JSON.parse(data);
                        if(obj.status){
                            location.reload()
                        }else {
                            $('#error_msg1').text(obj.error)
                        }
                    }
                })
            });

            $('.delete').click(function(event) {
                var nid = $(this).parent().parent().attr('hid');
                var i = $(this).parent().prev().prev().prev().text()
                var h = $(this).parent().prev().prev().prev().prev().text()
                var r = confirm("是否要删除主机：" + h +"ip为" + i);
                if (r == true) {
                    $.ajax({
                        url: '/cmdb/del_ajax/',
                        type: 'POST',
                        data: {
                                "nid": $(this).parent().parent().attr('hid')
                              }
                    })
                    $(this).parent().parent().text('已删除');
                }
            });
        })
    </script>
</body>
</html>
